@model IEnumerable<Product>


<div class="d-flex justify-content-between pt-4">
    <div class="p-2">
        <ul class="list-group list-group-horizontal-sm">
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="Electronics">
            <li class="list-group-item ">Electronics</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="Clothing & Apparel">
            <li class="list-group-item ">Clothing & Apparel</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="Home Appliances">
            <li class="list-group-item ">Home Appliances</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="Books">
            <li class="list-group-item ">Books</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="Sports">
            <li class="list-group-item">Sports</li>
            </a>
            <a style="text-decoration:none;" asp-controller="Home"
               asp-action="FilterByCategory" asp-route-category="all">
            <li class="list-group-item">All</li>
            </a>
        </ul>
    </div>
</div>



<div class="row pb-3 mb-3 mt-4">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-1">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                       
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center"> <b>@product.Category.Name</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Price:
                                    <span>
                                        @product.Price $
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary bg-gradient border-0 form-control" asp-action="Details" asp-route-id="@product.Id">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

