@model IEnumerable<Product>


<!-- Search Bar -->
@{
    ViewData["Title"] = "Home";
}﻿
@* <div class="row">
    <div class="mb-3 col-4">
        <form class="d-flex" asp-action="Search" asp-controller="Home">
            <input class="form-control me-sm-2" type="search" placeholder="Search" name="data">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
 *@


<div class="row pb-3 mb-3 mt-4">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-1">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                       
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                                <p class="card-title text-warning text-center"> <b>@product.Category.Name</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Price:
                                    <span>
                                        @product.Price $
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-primary bg-gradient border-0 form-control" asp-action="Details" asp-route-id="@product.Id">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

